body{
    margin: 0px; 
    padding: 0px; 
    font-family: tahoma; 
    font-size: 11px; 
    color:#666666;
    line-height: 18px; 
	/*background:#41699e;*/
    background:#FFFFFF
 }
        
#admin-body{
    margin:0px auto;
    padding:5px 5px 10px 5px;
    font:12px tahoma;
  }


/*----------------- menus---------------------- */
.top-menu{padding:0px 0px 0px 20px;}
.top-menu ul { list-style: none; margin:0; padding: 0px; }
.top-menu li { float: left; padding: 0px; margin:0px;}

.top-menu li a { display: block; padding: 10px 5px; color: #666; text-align: center; }
.top-menu li a:hover, .top-menu ul li:hover a { background: lightyellow; text-decoration: none;}
.top-menu li:hover{border:1px #000000 solid inside;}
.top-menu li li:hover{border-bottom:0px;}

.top-menu li ul { position: absolute; display: none; width: 200px; height: auto; background: lightyellow; z-index: 200; }
.top-menu li ul.short { width: 150px; }

.top-menu li:hover ul{ display: block;border-bottom:1px #000000 solid;}
.top-menu li li { display: block; float: none; padding: 0px; width: 200px;border:1px #000000 solid;border-bottom:0px;}
.top-menu li ul.short li { width: 150px; }

.top-menu li:hover li a { background: none; }
.top-menu li ul a { display: block; padding: 8px 10px 8px 15px; font-size: 12px; font-style: normal; text-align: left; }
.top-menu li ul a:hover, .top-menu li ul li:hover a { background: yellow; border: 0px; text-decoration: none; color:#000000;}
/*----------------- menus---------------------- */

#middle_content{padding:20px;}
#banner { ymargin:0px;padding:0px; width: 880px; height: 66px;}
#footer{text-align:center;margin:0px auto;padding:10px;width:95%;color:#FFFFFF;font-size:10px;font-family:tahoma;clear:both;}



#horizon { text-align: center; position: absolute; top: 50%; left: 0px;	width: 100%; height: 1px; overflow: visible; visibility: visible; display: block; }
#login-box {padding: 132px 130px 0px; margin-left: -258px; position: absolute; top: -173px; left: 50%; width: 516px; height: 346px; visibility: visible; voice-family: "\"}\""; voice-family: inherit; width: 256px; height: 214px; background:url(../images/bg-index.png) no-repeat;color:#FFFFFF;}

#breadcrumb{padding:5px 5px 20px 0px;}
#breadcrumb ul { float:right;list-style:none;margin:20px 0px;padding:0px;}
#breadcrumb ul li{padding: 3px; margin:0px;float:left;}
#breadcrumb .focus{font-weight:bold;}
#breadcrumb a:hover{color:#666666;text-decoration:underline;}

a:link {color:#41699e;text-decoration:none;}
a:hover {color:#f2ad1d;text-decoration:none;}
a:visited {text-decoration:none;}


.table_headers{padding:10px;background:#41699e;color:#FFF;height:30px;font-weight:bold;}
.table_bordered{border:1px #41699e solid;line-height: 18px;font-size:12px;}
.cell_border_right{border-right:1px #41699e solid;font-family:tahoma;font-size:12px;}
.cell_border_bottom{border-bottom:1px #41699e solid;font-family:tahoma;font-size:12px;}
.alert_msg{color:red;font-weight:bold;margin:0px 0px 10px 0px;padding:5px 0px 5px 20px;background:url(../images/icon_info.png) no-repeat left;}

.page_header{color:#41699e;font-size:18px;font-weight:bold;padding:5px;margin:0px;}
.page_header img{padding-right:5px;vertical-align:bottom;}
.sub_header{padding:10px 0px 0px 5px;color:#41699e;font-size:14px;font-weight:bold;}

.sub_header a:link {color:#41699e;}
.sub_header a:visited{color:#41699e;}
.sub_header a:hover {text-decoration:underline;}

.sub_header img{vertical-align:bottom;}

.odd{background-color:#dee9f7;font-size:13px;min-height:60px;}
.even{background-color:#FFFFFF;font-size:13px;min-height:30px;}
.odd a:hover{text-decoration:underline;}
.even a:hover{text-decoration:underline;}
.odd .even td{min-height:30px;font-size:1px;}
.white_text{color:#FFFFFF;}

.paging{padding:10px;text-align:center;}


/*----------- bottom float menu ------------------*/

#site-bottom-bar {
	background-color: #F0F0F0 ;
	border-top: 1px solid #CCCCCC ;
	bottom: 0px ;
	font-family: verdana, arial ;
	font-size: 11px ;
	height: 30px ;
	position: fixed ;
	width: 100% ;
	z-index: 1000 ;
	display:none;
	}

#site-bottom-bar-frame {
	height: 30px ;
	margin: 0px 10px 0px 10px ;
	position: relative ;
	}

#site-bottom-bar-content {
	padding: 3px 0px 0px 0px ;
	}

.bottom-menu-root {
	background-color: #E8E8E8 ;
	border: 1px solid #D0D0D0 ;
	color: #000000 ;
	display: block ;
	float:left;
	margin-left:5px;
	height: 22px ;
	line-height: 22px ;
	text-align: center ;
	text-decoration: none ;
	width: 105px ;
	}

.bottom-menu-root:hover {
	background-color: #666666 ;
	border-color: #000000 ;
	color: #FFFFFF ;
	}

.bottom-menu {
	background-color: #E8E8E8 ;
	border: 1px solid #666666 ;
	bottom: 32px ;
	display: none ;
	left: 0px ;
	padding: 5px 5px 1px 5px ;
	position: absolute ;
	width: 200px ;
	}

.bottom-menu a {
	background-color: #E8E8E8 ;
	border: 1px solid #FFFFFF ;
	color: #000000 ;
	display: block ;
	margin-bottom: 4px ;
	padding: 5px 0px 5px 5px ;
	text-decoration: none ;
	}

.bottom-menu a:hover {
	background-color: #666666 ;
	border-color: #000000 ;
	color: #FFFFFF ;
	}
.loader{font-size:14px;text-align:center;}		
.loader img{vertical-align:bottom;}		
