<div id="cashier-box">
	<div id="button_box">
		<p>Customer No#</p>
		<div id="counter"><span><?php echo $count;?></span></div>	
		<div id="buzz_button">
			<input type="button" id="next" value="NEXT CUSTOMER" class="button" />
			<input type="button" id="buzz" value="BUZZ AGAIN"  class="button" />
		</div>
		<div id="check_button">
			<input type="button" id="check" value="CHECK AD PAGE" class="button" />
		</div>
	</div>
	<div id="navigation_box">
		<ul>
			<li><a href="<?php echo $this->link_name("users","");?>">MANAGE USERS</a></li>
			<li><a href="<?php echo $this->link_name("adverts","");?>">MANAGE ADS</a></li>
			<li><a href="<?php echo $this->link_name("marquee","");?>">MANAGE MARQUEE</a></li>
	</div>
</div>