<div id="job_container">
<form method="post" id="frmJobOrder">
	<div id="customer_details">
		<label for="lname">Last name</label>
		<input type="text" name="lname" id="lname" size="40" class="matchMe" autocomplete="off">
		
		<label for="fname">First name</label>
		<input type="text" name="fname" id="fname" size="40" class="matchMe" autocomplete="off">
		
		<label for="contact_home">Home No#</label>
		<input type="text" name="contact_home" id="contact_home" autocomplete="off">
		
		<label for="contact_mobile">Mobile No#</label>
		<input type="text" name="contact_mobile" id="contact_mobile" autocomplete="off">
		
		<label for="contact_work">Work No#</label>
		<input type="text" name="contact_work" id="contact_work" autocomplete="off">
		
		<label for="email">Email</label>
		<input type="text" name="contact_email" id="contact_email" size="40" autocomplete="off">
		<div id="client_address">
			<label for="address1">Address 1</label>
			<input type="text" name="address1" id="address1" size="40" autocomplete="off">
			
			<label for="address2">Address 2</label>
			<input type="text" name="address2" id="address2" size="40" autocomplete="off">
			
			<label for="city">City </label>
			<select name="city" id="city">
			<option value="0"> --- </option>
				<?php foreach($cities as $city) { ?>
					<option value="<?php echo strtolower($city['area_name']);?>" country="<?php echo $city['country_id'];?>"><?php echo $city['area_name'];?></option>
				<?php } ?>
			</select>
			<label for="state">State</label>
			<input type="text" name="state" id="state" size="20" autocomplete="off">
			
			<label for="zip">zip code</label>
			<input type="text" name="zip" id="zip" size="20" autocomplete="off">
			
			
			<label for="country">Country</label>
			<select name="country" id="country">
				<?php foreach($countries as $country) { ?>
					<option value="<?php echo $country['country_id'];?>"><?php echo $country['country'];?></option>
				<?php } ?>
			</select>
			
		</div>
		
		<label for="notes">Customer Notes</label>
		<textarea name="notes" id="notes" rows="10" cols="4" > </textarea >
	</div>
	<div id="order_details">
		<label for="jobdate">Job Date</label>
		<input type="text" name="jobDate" id="jobDate"  class="dated" size="40" autocomplete="off" value="<?php echo date("m/d/Y");?>" >
		
		<label>Products</label>
		<div id="item_details">
			<a href="#" id="addItemLink" class="add">Add Item</a>
			<div id="ordersLine"></div>
		</div>
		
		<label for="bsource">Business Source</label>
			<select name="bsource" id="bsource">
				<option value="0"> --- </option>
				<?php foreach($sources as $source) { ?>
					<option value="<?php echo $source['source_id'];?>"><?php echo $source['source_name'];?></option>
				<?php } ?>
			</select>
		
		<label for="driver">Driver</label>
			<select name="driver" id="driver">
				<option value="0"> --- </option>
				<?php foreach($drivers as $driver) { ?>
					<option value="<?php echo $driver['user_id'];?>"><?php echo $driver['user_fname'].' '.$driver['user_lname'];?> </option>
				<?php } ?>
			</select>
		
		<label for="instructions">Instructions</label>
		<textarea name="instructions" id="instructions" rows="10" cols="4" > </textarea >
		
		<p class="clear"><input type="submit" name="btnJobSave" value="Create Job Order"  class="button" /></p>
	</div>
	<p class="clear"></p>
</form>	
</div>