<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Shortcuts</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
            
<div class="dashboard row">
    <div class="col-lg-8">    
        <?php foreach($boxes as $box) { ?>
        <div class="col-lg-3 col-md-4">
        <a href="<?php echo transform_url($box['module'],$box['action']);?>">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa <?php echo $box['img'];?> fa-2x col-xs-1"></i>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-left"><?php echo $box['label'];?></span>
                <div class="clearfix"></div>
            </div>
        </div>
        </a>
        </div>
    <?php } ?>
    </div>

    <div class="col-lg-4">
        <div class="chat-panel panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-comments fa-fw"></i>
                Messages
                <div class="btn-group pull-right">
                    <a href="#">
                        <i class="fa fa-refresh fa-fw"></i>
                    </a>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="chat">
                
                    <?php foreach ($messages as $msg) { ?>
                      <li class="left clearfix">
                        <span class="chat-img pull-left">
                            <i class="fa <?php echo $box['img'];?> fa-2x col-xs-1"></i>
                        </span>
                       
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font message-email"></strong>
                                <small class="pull-right text-muted">
                                    <i class="fa fa-clock-o fa-fw"></i> <?php echo $msg['added'];?>
                                </small>
                            </div>
                            <p class="dashboard-message" title="<?php echo $msg['message'];?>">
                                <?php echo $msg['email'];?>
                            </p>
                            
                             <span class="chat-img pull-right clearfix">
                                <a href="#" title="Read Message"><i class="fa fa-envelope fa-1x col-xs-1"></i></a>
                             </span>
                        </div>
                        
                    </li>
                    <?php } ?>
                 </ul>
            </div>
        </div>
        <!-- /.panel .chat-panel -->
    </div>
<div>