<form name="formname" method="post" action="" onsubmit="return formchecking();">
<table>
    <tr>
        <th scope="row"><label for="name">*Name:</label></th>
        <td><input name="name" type="text" size="32" maxlength="80" value=""  id="name"/></td>
    </tr>
    <tr>
        <th scope="row"><label for="email">*Email Address:</label></th>
        <td><input name="email" type="text" size="32" maxlength="80" value="" id="email" /></td>
    </tr>
    <tr>
        <th scope="row"><label for="contact">Contact Number:</label></th>
        <td><input name="contact" type="text" size="32" maxlength="80" value=""  /> (optional)</td>
    </tr>
    <tr>
        <th scope="row" class="align-top"><label for="message">*Message:</label></th>
        <td><textarea name="message" cols="50" rows="10" id="message"></textarea></td>
    </tr>
    <tr>
    <th scope="row">&nbsp;</th>
    <td><input name="terms" type="checkbox" class="noborder" value="agree" id="chkagree"/>
        Yes, I read and agree to the <a href="privacy.html" target="_blank">Privacy Policy</a></td>
    </tr>
    <tr>
   

    <th scope="row">&nbsp;</th>

    <td>
    <input name="submit" type="submit" class="btn-submit" class="noborder" value="send" />

    <input type="hidden" name="process" value="contact">

    <br />*Required

    </td>

    </tr>
</table>
</form>