
label{display:block;}
#job-container .clear {clear:both;padding:20px;}


#middle_content .nameMatch{display:none;width:250px;z-index:1;position:absolute;background:#FFF;border:1px #000000 solid;}
#middle_content .nameMatch{_position:absolute;}
#middle_content .nameMatch ul { padding: 0px; margin: 0px; list-style: none;  }
#middle_content .nameMatch ul li{ padding: 0px; margin: 0px; border:1px #FFFFFF solid;}
#middle_content .nameMatch ul li a:hover {font-weight:bold;background:#333;color:#fff;text-decoration:none;}
#middle_content .nameMatch ul li a { display: block; padding:5px; margin:0px; color: #333;  }
#middle_content .nameMatch p{padding:5px 5px 20px 5px;}
#middle_content .nameMatch p a.prev{float:left;}
#middle_content .nameMatch p a.next{float:right;}

.consigneeMatch{
	display:none;width:250px;z-index:1;position:absolute;background:#FFF;border:1px #000000 solid;
}


.consigneeMatch ul { padding: 0px; margin: 0px; list-style: none;}
.consigneeMatch ul li{ padding: 0px; margin: 0px; border:1px #FFFFFF solid;list-style:none;}
.consigneeMatch ul li a:hover {font-weight:bold;background:#333;color:#fff;text-decoration:none;}
.consigneeMatch ul li a { display: block; padding:5px; margin:0px; color: #333;  }
.consigneeMatch p{padding:5px 5px 20px 5px;}


.buttons{height:50px;font-size:15px;}

#matchDiv{position:absolute;margin-top:35px;width:340px;border:1px #000000 solid;padding:0px;background:#FFFFFF;display:none;}
#matchDiv ul {margin:0px;padding:0px;clear:both;}
#matchDiv ul li{margin:0px;list-style:none;}
#matchDiv ul li a{font-size:15px;width:320px;border:1px #000000 solid;display:block;padding:10px;}
#matchDiv ul li a:hover {background:yellow;}
#matchDiv ul li.selected{background:yellow;}

#matchDiv #move-left{float:left;}
#matchDiv #move-right{float:right;}

/*.dropList {position:absolute;margin-top:35px;width:340px;border:1px #000000 solid;padding:0px;background:#FFFFFF;}*/

#item_details {clear:left;}

#clear_newClient{float:right;width:32px;float:left;margin-left:5px;}
#clear_newClient a:first-child{background:url('../images/clear.png') no-repeat;text-indent:-9999px;height:32px;width:32px;display:block;float:left;}

#jobDate{width:100px;margin-right:5px;}


#addProductform label{clear:left;float:left;width:120px;margin-bottom:10px;font-size:12px;font-weight:bold;}
#addProductform input, textarea, select {clear:right;float:left;height:20px;width:300px;margin-bottom:10px;padding:5px;font-size:18px;}
#addProductform  select{height:30px;padding:0px;}
#addProductform input.phones {width:50px;margin-right:5px;}
#addProductform  input[type=submit] {
	clear:left;
	font-size: 12px;
    font-weight: bold;
    height: 50px;
    margin: 0;
    padding: 3px;
    width: 100px;
}

#PUDetails {display:none;}
#orderTable {}
#orderTable  tr th{text-align:left;}
#orderTable  tr :hover{;}
#ordersLine {margin-bottom:10px;}
.hiddenView{display:none;}


