#middle_content .nameMatch{display:none;width:250px;z-index:1;position:absolute;background:#FFF;border:1px #000000 solid;}
#middle_content .nameMatch{_position:absolute;}
#middle_content .nameMatch ul { padding: 0px; margin: 0px; list-style: none;  }
#middle_content .nameMatch ul li{ padding: 0px; margin: 0px; border:1px #FFFFFF solid;}
#middle_content .nameMatch ul li a:hover {font-weight:bold;background:#333;color:#fff;text-decoration:none;}
#middle_content .nameMatch ul li a { display: block; padding:5px; margin:0px; color: #333;  }
#middle_content .nameMatch p{padding:5px 5px 20px 5px;}
#middle_content .nameMatch p a.prev{float:left;}
#middle_content .nameMatch p a.next{float:right;}

.consigneeMatch{
	display:none;width:250px;z-index:1;position:absolute;background:#FFF;border:1px #000000 solid;
}


.consigneeMatch ul { padding: 0px; margin: 0px; list-style: none;}
.consigneeMatch ul li{ padding: 0px; margin: 0px; border:1px #FFFFFF solid;list-style:none;}
.consigneeMatch ul li a:hover {font-weight:bold;background:#333;color:#fff;text-decoration:none;}
.consigneeMatch ul li a { display: block; padding:5px; margin:0px; color: #333;  }
.consigneeMatch p{padding:5px 5px 20px 5px;}


.buttons{height:50px;font-size:15px;}