#tracking-container {margin-top:10px;}
#tracking-container #tracking-photo img { display: block; padding: 18px 20px 20px 20px; background: url(../images/bg-photo.png) no-repeat; }
#tracking-container #tracking-photo a { display: block; margin: 0px auto; width: 88px; height: 30px; background: url(../images/btn-print-picture.png) no-repeat; text-indent: -999999999px; }
#tracking-container #tracking-photo p{padding:0px 0px 0px 20px;font-size:12px;}

#tracking-container #tracking-photo { float: left; padding: 10px 0px 0px 0px; width: 360px; display:block;}
#tracking-container #tracking-status { float: left; padding: 15px 10px 0px 20px; width: 540px;}
#tracking-container #disclaimer {clear:both;}
#tracking-container #tracking-status h4 { padding: 8px 0px 0px 10px; height: 28px; font-size: 14px; font-weight: normal; background: url(../images/bg-tracking-number.png) repeat-x; }
#tracking-container .yellow{color: #ffe064;}
#tracking-container #tracking-status ul li { padding: 5px; margin-bottom: 1px; font-weight: bold; background: url(../images/bg-track-list.png); list-style: none;min-height:35px;}
#tracking-container #tracking-status ul li em { font-weight: normal; color: #8dafdc; }
#tracking-container #disclaimer p{font-size:9px;text-align:center;padding:30px;clear:both;}

#tracking-container #tracking-status ul li a{height:30px;display:block;padding:5px 0px 0px 35px;font-weight:bold;}
#tracking-container #tracking-status ul li a.completed {background:url('../images/icn-completed.png') no-repeat;}
#tracking-container #tracking-status ul li a.uncompleted {background:url('../images/icn-uncompleted.png') no-repeat;}
#tracking-container #tracking-status ul li a .yellow{color: #ffe064;font-weight:bold;}

