#container_div label{clear:left;float:left;width:100px;margin-bottom:5px;font-size:12px;font-weight:bold;}
#container_div input[type="text"], textarea, select {clear:both;float:left;height:15px;margin-bottom:5px;padding:5px;font-size:12px;clear:right;}
#container_div  select{height:15px;padding:0px;}
#container_div  textarea {height:20px;width:345px;height:100px;}
#container_div input.dated {margin-right:5px;}

#container_div  .ui-datepicker-trigger{max-height:28px;}
#container_div .clear {clear:both;}

#container_div  table {width:100%}

#container_form{width:50%;float:left;}
#container_files{width:50%;float:left;clear:right}
#container_files h3{margin:0px;}
#container_files  ul {padding:0px 10px 5px 10px;}
#container_files  ul li {height:20px;list-style:none;}
#fileDiv{height:200px;overflow:auto;border:1px #000000 solid;}

.removeMe:before{
	content: "\2718";   
	font-size:12px;
}

.removeMe{
	text-decoration:none;
	border-radius:2px;
	box-shadow:inset 0px 1px 0px 0px #a5cc52;
	background-color:#a5cc52;
	border:1px solid #83c41a;
}