<form method="post" action="admin/index.php">
	<p><label for="username">username:</label><input name="username" type="text" size="18" maxlength="32" autocomplete="off" /></p>
	<p><label for="password">password:</label><input name="password" type="password" size="18" maxlength="32" autocomplete="off" /></p>
	<p align="center"><input name="login" type="submit" value="login" /></p>
</form>