	<ul>
	<?php 
		foreach($nav as $nav){
	?>
			<li>
				<?php 
				echo '<a href="#">'.$nav['text'].'</a>';
				if(count($nav['subnav'])){
					echo '<ul>';
					foreach($nav['subnav'] as $subnav){
						echo '<li><a href="'.UI::transform_url($subnav['mod']).'">'.$subnav['text'].'</a></li>';
					}
					echo '</ul>';
				}
				?>
			</li>
	<?php
		}
	?>
	</ul>
	
	<p>Welcome <?php echo $this->profile['username'];?> <a href="<?php echo $fullPath;?>?logout=logout" id="logout-link">logout</a>  Today is <?php echo date("F d,Y");?></p>
