<div id="loginbox">
<p style="text-align:center;">You are already logged in</b></p>
<p></p>
<p style="text-align:center;">
	<a href="admin/index.php" style="color:#FFFFFF;">Members Area</a>
	<a href="admin/index.php?logout=logout" style="color:#FFFFFF;">Log Out</a>
</p>
</div>