<form id="frmEdit" >
		<label for="container_no">[username]</label>
		<span id="username_span"><?php echo $user['user_username'];?></span>
		
		<label for="boxes">password</label>
		<input type="text" name="password" value = "">
		
		<label for="boxes">re-type password</label>
		<input type="text" name="retype_password" value = "">
		
		<label for="contact_home">Last Names</label>
		<input type="text" name="lname" id="trip_no" size="40"  value="[lastname]" >
		
		<label for="vessel_name">first Name</label>
		<input type="text" name="fname" id="fname" ize="40" value="[firstname]" >
		
		
		<label for="country" >Country</label>
		<select name="country" id="userCountryId"></select>
	
		<label for="branch">Branch</label>
		<select name="branch"></select>
	
		<label for="level">User Level</label>
		<select name="user_level"></select>
		
		<input type="hidden" name="uid" id="uid" value="[userid]" >
		<p class="clear">
			<input id="btnUpdate" type="submit" name="btnCancel" class="button" value="Update User" />
			<input id="btnUpdate" type="submit" name="btnUpdate" class="button" value="Update User" />
		</p>
	</form>
	</div>