	<ul>
		<li><a href="<?php echo $fullPath;?>">MAIN</a></li>
		<li><a href="<?php echo ui::link_name("users","");?>">Abroad</a></li>
		<li><a href="<?php echo ui::link_name("adverts","");?>">MAIN ADS</a></li>
		<li><a href="<?php echo ui::link_name("marquee","");?>">MARQUEE</a></li>
	</ul>
	<p>Welcome <a href="<?php echo $fullPath;?>?logout=logout" id="logout-link">logout</a>  Today is <?php echo date("F d,Y");?></p>
