@import url('default.css');
#leftcol  { float: left; padding: 0px 30px; width: 650px; voice-family: "\"}\""; voice-family: inherit; width: 590px; min-height: 400px; }
#rightcol { float: right; padding: 0px 20px; width: 309px; voice-family: "\"}\""; voice-family: inherit; width: 269px; min-height: 400px; }

#aboutus { padding-top: 35px; }
#aboutus h1 { height: 30px; background: url(../images/about-us.png) no-repeat; text-indent: -9999999px; }
#aboutus p { padding: 10px; text-align: justify; }
#aboutus p em { color: #ffe064; }