@import url('default.css');
#leftcol { float: left; padding: 0px 30px; width: 650px; voice-family: "\"}\""; voice-family: inherit; width: 590px; }
#rightcol { float: right; padding: 0px 20px; width: 309px; voice-family: "\"}\""; voice-family: inherit; width: 269px;_padding: 0px 0px;}

#capability { padding-top: 40px; }
#capability h1 { height: 30px; background: url(../images/lbl-company-overview.png) no-repeat; text-indent: -9999999px; }
#capability p { padding: 10px 10px 30px; background: url(../images/line-00.gif) left bottom repeat-x; }


#project-types {padding: 20px 10px 20px 0px; }
#project-types h1 { height: 30px; background: url(../images/lbl-project-types.png) no-repeat; text-indent: -9999999px; display:block;}
#project-types p {background: url(../images/line-00.gif) left bottom repeat-x; }
#project-types ul,ol{padding: 0px 0px 0px 30px;}
#project-types ul,ol li{margin-top:10px;}


#key-clients {padding: 5px 0px;}
#key-clients h1 {padding:5px 0px;height: 20px; background: url(../images/lbl-key-clients.png) no-repeat; text-indent: -9999999px; }
#key-clients p {background: url(../images/line-00.gif) left bottom repeat-x; }
#key-clients ol,ul { padding: 10px 0px 0px 30px; }
#key-clients ul li{margin-bottom:10px;}

#alliance_org {padding: 5px 0px;}
#alliance_org h1 {padding:5px 0px;height: 20px; background: url(../images/lbl-alliance-org.png) no-repeat; text-indent: -9999999px; }
#alliance_org p {background: url(../images/line-00.gif) left bottom repeat-x; }
#alliance_org ul,ol { padding: 0px 0px 0px 30px; }
#alliance_org ul,ol li{margin-top:10px;}


#rates {padding-top: 20px; clear: both; background: url(../images/line-00.gif) left top repeat-x;}
#rates h1 { height: 30px; background: url(../images/our-affordable-rates.png) no-repeat; text-indent: -9999999px; }
#rates table th { margin: 1px; background: #2c4e7c; }
#rates table td { margin: 1px; background: #365b8d; text-align: center; font-size:14px }
#rates dl dt { font-weight: bold; }
#rates dl dd { color: #ffe064; }
#rates p a { float: right; width: 73px; height: 74px; background: url(../images/btn-moreinfo.png) no-repeat; text-indent: -999999px; }
#rates p { padding: 5px; _padding:0px; }


#company-data{ padding: 20px 5px 0px 0px; }
#company-data h1 { height: 30px; background: url(../images/lbl-company_data.png) no-repeat; text-indent: -9999999px; }
#company-data div{ padding: 15px 20px 0px 30px; height: 130px; background: url(../images/bg-pickup-schedule.png) no-repeat; font-size:13px; font-weight:bold;}

#naics-code { padding: 0px 5px 0px 0px; }
#naics-code h1 { height: 30px; background: url(../images/lbl-naics_code.png) no-repeat; text-indent: -9999999px; }
#naics-code div{ padding: 25px 20px 0px 30px; height: 115px; background: url(../images/bg-pickup-schedule.png) no-repeat; }

#special-item { padding: 0px 5px 20px 0px; }
#special-item h1 { height: 53px; background: url(../images/lbl-special_numbers.png) no-repeat; text-indent: -9999999px; }
#special-item div{ padding: 25px 20px 0px 30px; height: 100px; background: url(../images/bg-pickup-schedule.png) no-repeat; }

#gsa-schedule{ padding: 0px 5px 20px 0px; }
#gsa-schedule h1 { height: 30px; background: url(../images/lbl-gsa_schedule.png) no-repeat; text-indent: -9999999px; }
#gsa-schedule p{ padding: 25px 20px 0px 30px; height: 50px; background: url(../images/bg-pickup-schedule.png) no-repeat; }

#onsite-facilities{ padding: 0px 5px 20px 0px; }
#onsite-facilities h1 { height: 30px; background: url(../images/lbl-onsite_facilities.png) no-repeat; text-indent: -9999999px; }
#onsite-facilities p{ padding:20px 10px 0px 30px; height: 120px; background: url(../images/bg-pickup-schedule.png) no-repeat; }


#other-services{ padding: 0px 5px 20px 0px; }
#other-services a{color:#FFFFFF;text-decoration:none;}
#other-services a:hover{text-decoration:none;}
#other-services h1 { height: 30px; background: url(../images/other-services.png) no-repeat; text-indent: -9999999px; }
#other-services p{ padding:20px 10px 0px 30px; height: 150px; background: url(../images/bg-otherservices.png) no-repeat; }


#travel-services { height: 159px; background: url(../images/bg-travel-services.png) center bottom no-repeat; }
#travel-services h1 { height: 30px; background: url(../images/travel-services.png) no-repeat; text-indent: -9999999px; }
#travel-services h3 { padding-left: 85px; }
#travel-services p { padding: 30px 10px 0px 85px; }
#travel-services p.yellow { padding: 0px 10px 0px 85px; color: #ffe064; } 

#pickup-schedule h1 { height: 30px; background: url(../images/pick-up-schedule.png) no-repeat; text-indent: -9999999px; }
#pickup-schedule p { padding: 25px 20px 0px; height: 143px; background: url(../images/bg-pickup-schedule.png) no-repeat; text-align: left-justify; }

#loading-schedule { padding-top: 20px; }
#loading-schedule h1 { height: 30px; background: url(../images/loading-schedule.png) no-repeat; text-indent: -9999999px; }
#loading-schedule div{ padding: 10px 20px 0px; height: 143px; background: url(../images/bg-pickup-schedule.png) no-repeat; text-align: center; }
#loading-schedule div table th{border-bottom:1px #FFFFFF solid;}
#loading-schedule div table td{text-align:left;padding-left:10px;}

.connect_widget{font-color:#FFFFFF !important;}