@charset "utf-8";
/* CSS Document */
body { padding: 0px; margin: 0px; background: #41699e url(../images/bg-clouds.gif) top center repeat-x; font-family: "tahoma"; font-size: 11px; color: #fafafa; line-height: 18px; }
h1,h2,h3,h4,h5,ul,ol,li,form,p { padding: 0px; margin:0px; }
#container { margin: 0px auto; width: 960px;_margin-left:10%; }
#body { min-height: 244px; background: url(../images/bg-container.gif) center bottom no-repeat; }
#content { padding-bottom: 30px; background: url(../images/bg-content.png) no-repeat; overflow: hidden; }

/* footer */
#footer { height: 105px; padding: 15px 0px 0px 0px; voice-family: "\"}\""; voice-family: inherit; height: 90px; background: url(../images/bg-footer.gif) center bottom no-repeat; }
#credit-cards { float: left; width: 326px; height: 47px; background: url(../images/bg-ccards.gif) 64px 0px no-repeat; text-indent: -999999px; }
#bottom-links { float: right; width: 634px; }
#bottom-links ul li { padding: 0px 10px; display: inline; list-style-type: none; border-right: 1px #fff solid; }
#bottom-links ul li.last { border-right: none; }
#bottom-links ul li a { color: #fff; text-decoration: none; }
#bottom-links p { padding: 0px 10px; color: #8dafdc; }
.clear { clear: both; }