@import url('default.css');
#leftcol  { float: left; padding: 0px 30px; width: 650px; voice-family: "\"}\""; voice-family: inherit; width: 590px; min-height: 400px; }
#rightcol { float: right; padding: 0px 20px; width: 309px; voice-family: "\"}\""; voice-family: inherit; width: 269px; min-height: 400px; }

#faqs { padding-top: 35px; }
#faqs a { color: #ffe064; }
#faqs h1 { height: 30px; background: url(../images/faqs.png) no-repeat; text-indent: -9999999px; }
#faqs ol { padding: 0px 0px 0px 20px; }
#faqs ol li { padding-top: 30px; font-weight: bold; color: #ffe064; }
#faqs ol li.first { padding-top: 0px; }
#faqs p { margin: 0px; text-align: justify; }
#faqs p.note { padding: 20px 0px; font-style: oblique; }
#faqs ul li { padding: 0px 20px; list-style: inside; font-weight: normal; color: #fff; }
