body { padding: 0px; margin: 0px; background: #41699e; font-family: "tahoma"; font-size: 11px; color: #fafafa; line-height: 18px; }
h1,h2,h3,h4,h5,ul,ol,li,form,p { padding: 5px; margin:0px; }

h1{height: 30px; background: url(../images/privacy-policy.png) no-repeat; text-indent: -9999999px;}