body { padding: 0px; margin: 0px; background: #41699e; font-family: "tahoma"; font-size: 11px; color: #fafafa; line-height: 18px; }
h1,h2,h3,h4,h5,ul,ol,li,form,p { padding: 0px; margin:0px; }
#container { margin: 0px auto; width: 800px;_margin-left:10%; background: url(../images/promo/promo-bg.png) right bottom no-repeat;border-right:1px #294d7b solid;border-bottom:1px #294d7b solid;}
#content{width: 960px;_margin-left:10%;}
#promo-title{background:url(../images/promo/promo-logo.png) no-repeat top right;height:130px;width:800px;padding:30px 0px;margin:0px;}
#promo-subtitle{background:url(../images/promo/promo-subtitle.png) no-repeat;height:80px;width:800px;text-indent:-99999999px;}
#promo-call{text-align:center;}
#promo-mechanics{width:320px;height:100px;float:left;padding:20px;}
#promo-prizes{width:300px;float:left;}
/* footer */
#footer { height: 25px;  margin: 0px auto; width: 800px;_margin-left:10%;}
#bottom-links {text-align:center;}
#bottom-links ul li { padding: 0px 10px; display: inline; list-style-type: none; border-right: 1px #fff solid; }
#bottom-links ul li.last { border-right: none; }
#bottom-links ul li a { color: #fff; text-decoration: none; }
#bottom-links p { padding: 0px 10px; color: #8dafdc; }