@import url('default.css');
#leftcol  { float: left; padding: 0px 30px; width: 650px; voice-family: "\"}\""; voice-family: inherit; width: 590px; min-height: 400px; }
#rightcol { float: right; padding: 0px 20px; width: 309px; voice-family: "\"}\""; voice-family: inherit; width: 269px; min-height: 400px; }

#rates { padding-top: 35px; }
#rates h1 { height: 30px; background: url(../images/our-affordable-rates.png) no-repeat; text-indent: -9999999px; }
#rates table th { margin: 1px; background: #2c4e7c; }
#rates table td { margin: 1px; background: #365b8d; text-align: center; }
#rates dl dt { font-weight: bold; }
#rates dl dd { color: #ffe064; }
#rates p a { float: right; width: 73px; height: 74px; background: url(../images/btn-moreinfo.png) no-repeat; text-indent: -999999px; }
#rates p { padding: 5px; }

#more-savings { padding-top: 35px; padding-bottom: 20px; }
#more-savings h1 { height: 30px; background: url(../images/more-savings.png) no-repeat; text-indent: -9999999px; }
#more-savings li { padding: 5px 0px 10px 0px; }
#more-savings span.yellow { color: #ffe064; }
