@import url('default.css');
a{color:#FFFFFF;text-decoration:underline;}
#leftcol  { float: left; padding: 0px 30px; width: 650px; voice-family: "\"}\""; voice-family: inherit; width: 590px; min-height: 400px; }

#rightcol { float: right; padding: 0px 20px; width: 309px; voice-family: "\"}\""; voice-family: inherit; width: 269px; min-height: 400px; }

h3 { padding: 10px 0px 5px; color: #ffe064; text-decoration: underline; }

h4.top { padding-top: 10px; }

#services { padding: 35px 0px 15px; }

#services h1 { height: 30px; background: url(../images/our-services.png) no-repeat; text-indent: -9999999px; }

#services ul li { padding-left: 10px; list-style: inside; }

#services p { padding: 0px 0px 10px 20px; }



#more-rates { padding: 35px 0px 15px; }

#more-rates h1 { height: 30px; background: url(../images/more-rates.png) no-repeat; text-indent: -9999999px; }

#more-rates ul li { list-style: inside; }

#more-rates table th { margin: 1px; padding-left: 10px; width: 150px; background: #2c4e7c; vertical-align: top; text-align: left; }

#more-rates table td { margin: 1px; background: #365b8d; }

#more-rates table td.mat { padding-left: 10px; }

#more-rates p { font-size: 9px; font-style: oblique; color: #ffe064; }



#destination { padding: 10px 30px 0px; background: url(../images/line-00.gif) left top repeat-x; }

#destination h1 { height: 30px; background: url(../images/our-destinations.png) no-repeat; text-indent: -9999999px; }

#destination ul { padding: 10px 0px; }

#destination ul li { display: block; float: left; width: 180px; }



