@charset "utf-8";
/* CSS Document */
body { padding: 0px; margin: 0px; background: #41699e url(../images/bg-clouds.gif) top center repeat-x; font-family: "tahoma"; font-size: 11px; color: #fafafa; line-height: 18px; }
h1,h2,h3,h4,h5,ul,ol,li,form,p { padding: 0px; margin:0px; font-size:11px;font-family:tahoma;}

/* Don't show shadows when selecting text */
::-moz-selection { background: #5af; color: #fff; text-shadow: none; }
::selection { background: #5af; color: #fff; text-shadow: none; }

#body { 
	min-height: 244px; 
	background: url(../images/bg-container.gif) center bottom no-repeat; 
}
#container { margin: 0px auto; width: 960px; }
#container #content {padding-top:20px;}
#container #content #leftcol {
		float: left;
		width: 561px; 
		background: url(../images/bg-content.png) no-repeat;	
		padding:20px 30px 25px 30px;
}

#container #content h1{
	font-family:kozgopro-light;
	font-size:18px;
	font-weight:normal;
	margin-bottom:20px;
	text-shadow:2px 2px 2px #183862;
	text-shadow:inset 2px 2px #000000;
}


#container #content #leftcol div{
	color:#FFFFFF;
	margin-top:0px;
}

#container #content #leftcol div p{
	text-align:justify;
	margin-bottom:20px;
}

#container #content a{
	font-weight:normal;
	color:#FFFFFF;
}


#container #content #leftcol .line{
	background: url(../images/line-00.gif) left top repeat-x;
	margin: 30px 0 30px 0; 
	height:10px;
	display:block;
	clear: both; 
}

#container #content #leftcol div.double{
	clear:right;
}

#container #content #leftcol div.double div:first-child{
	width:45%;
	float:left;
	margin-right:10px;
}

#container #content #leftcol div.double div:last-child{
	width:45%;
	float:left;
}



#container #content h1 .white{
	color:#FFFFFF;
	text-transform:uppercase;
}

#container #content h1 .orange{
	color:#ead883;
	text-transform:uppercase;
}

#container #content h3{
	color: #ffe064;
    padding: 10px 0 5px;
    text-decoration: underline;
}

#container #content #leftcol ul{
	margin-left:20px;
}

#container #content #rightcol {
	float: left; 
	padding: 0px 20px; 
	width: 220px;
}

#container #content #rightcol .boxes{
	width:290px;
	margin-bottom:10px;
	font-size:11px;
}

#container #content #rightcol .boxes ul{
	padding:0px 20px 5px 20px;
}

#container #content #rightcol .boxes li{
	margin-top:5px;
}


#container #content #rightcol .boxes h2{
	font-family:kozgopro-light;
	font-size:18px;
	font-weight:normal;
	margin-bottom:10px;
	text-shadow:2px 2px 2px #183862;
	text-shadow:inset 2px 2px #000000;
    text-transform:uppercase;
}

#container #content #rightcol #login-box{
	background: rgba(0, 0, 0, 0) url("../images/bg-login.png") no-repeat;
    height: 120px;
	width:270px;
    padding-top: 35px;
	margin-bottom:10px;
}
#container #content #rightcol #login-box p{
	padding:5px 5px 2px 20px;
}
	
#container #content #main-page #rightcol .boxes div{
	background: url(../images/bg-right-box.png) no-repeat;
	font:11px #FFFFFF tahoma ;
	min-height:100px;
	padding:20px 60px 20px 20px;
}

#container #content #main-page #rightcol #pick-up {position:relative;}
#container #content #main-page #rightcol #pick-up .overlay{
	background: url(../images/box_guy.png) no-repeat right;
	z-index:9999;
	position:absolute;
	left:170px;
	top:15px;
	
}
#container #content #main-page #rightcol #pick-up div {padding-right:80px;}



#container #content #main-page #rightcol #travel-services div{
	background: url(../images/bg-travel-services.png) no-repeat;
	padding-left:80px;
}

#container #content #rightcol #travel-services div span{
	display:block;
	font-size:12px;
	font-weight:bold;
	font-family:tahoma;
}

#container #content #rightcol #travel-services div span.yellow{
	color:#ffe064;
	font-weight:normal;
	font-size:11px;
}

#container #content #services-page #rightcol table.right-table td{
	background: #365b8d none repeat scroll 0 0;
    margin: 1px;
	padding-left:10px;
}

#container #content #services-page #rightcol table.right-table th{
	background: #2c4e7c none repeat scroll 0 0;
    margin: 1px;
    padding-left: 10px;
    text-align: left;
    vertical-align: top;
    width: 150px;
}

#container #content #services-page #rightcol .note{
color: #ffe064;
    font-size: 9px;
    font-style: oblique
}

/*--- specific to services page --*/
#container #content #services-page #destination {
	
	background: rgba(0, 0, 0, 0) url("../images/line-00.gif") repeat-x scroll left top;
    padding: 10px 30px 0;
}

#container #content #services-page #destination ul 
{
	
	padding: 10px 0;
}

#container #content #services-page #destination ul li
{
	display: block;
    float: left;
    width: 180px;
}

#container #content #faq-page #faqs ol li 
{
        margin-left:15px;
    
}
#container #content #faq-page #faqs ol li 
{
	color: #ffe064;
    font-weight: bold;
    padding-top: 30px;
}

#container #content #faq-page #faqs ol li p
{
	color:#FFFFFF;
    font-weight:normal;
    font-size:11px;
    padding-top:0px;
    margin-top:5px;
    margin-bottom:5px;
}

#container #content #faq-page #faqs ol li ul li
{
	color:#FFFFFF;
    font-weight:normal;
    font-size:11px;
    padding-top:2px;
    list-style:disc;
}

#container #content #aboutus-page p em
{
	color:#ffe064;
}

#container #content .btn-submit{
    background: url("../images/btn-send.png") no-repeat;
    border:0px;
    text-indent:-9999px;
    width:73px;
    height:34px;
    cursor:pointer;
}
dt 
{
   font-weight:bold;
}

dd 
{
    color: #ffe064;
    margin-left: 10px;
 }
/* footer */
#footer { clear:left;height: 90px; padding: 15px 0px 0px 0px; background: url(../images/bg-footer.gif) no-repeat;}
#credit-cards { float: left; width: 326px; height: 47px; background: url(../images/bg-ccards.gif) 64px 0px no-repeat; text-indent: -999999px; }
#bottom-links { float: right; width: 634px; }
#bottom-links ul li { padding: 0px 10px; display: inline; list-style-type: none; border-right: 1px #fff solid; }
#bottom-links ul li.last { border-right: none; }
#bottom-links ul li a { color: #fff; text-decoration: none; }
#bottom-links p { padding: 0px 10px; color: #8dafdc; }
.clear { clear: both; }

#banner{height:310px;margin-top:5px;background: url(../images/bg-guy.png) no-repeat scroll 390px 0;position:relative;}
#banner #logo{height:90px;width:450px;background: url(../images/mex-logo.png) no-repeat scroll 0 0;display:block;position:absolute;text-indent:-9999px;}
#banner #main-ads{height:162px;width:442px;top:80px;background: url(../images/bg-balikbayan.png) no-repeat scroll 0 0;display:block;position:absolute;text-indent:-9999px;}
#banner #main-tracking{height:65px;width:440px;top:230px;background: url(../images/tracking-bg.png) no-repeat scroll 0 0;display:block;position:absolute;}
#banner #main-tracking p{position:absolute;float:right;left:240px;top:15px;}
#banner #main-tracking input[type=text]{height:23px;width:128px;border:1px #fab427 solid;font-size:14px;font-weight:bold;font-family:tahoma,arial;padding-left:2px;}
#banner #main-tracking input[type=submit]{height:33px;width:53px;background: url(../images/btn-check.png) no-repeat;border:0px;text-indent:-9999px; cursor:pointer;}
#banner #main-license {display:block;left:720px;top:25px;position:absolute;font-family:tahoma;color:#FFFFFF;}
#banner #main-license a{color:#a6daf4;}
#banner #main-nav{
			width:255px;
			height:250px;
			top:59px;
			left:670px;
			border-radius:10px 10px 0px 0px;
			position:absolute;background: url(../images/bg-main_nav.jpg) repeat-x;
		}
#banner #main-nav ul {margin:15px 30px 0px 35px;padding:10px;}
#banner #main-nav ul li{margin:0px;padding:6px 0px 6px 0px;list-style:none;border-bottom:#d1d1d1 1px dotted;}
#banner #main-nav ul li:last-child{border-bottom:0px;}
#banner #main-nav ul li a{
			height:21px;
			font-size:16px;
			font-weight:normal;
			font-family:myriad, tahoma, sans-serrif;
			color:#41699e;text-decoration:none;
			background:url(../images/img-nav-bg.png) no-repeat;padding-left:30px;display:block;
			transition:background-position 0.1s ease,
					   padding-left 0.3s ease;
		}
#banner #main-nav ul li a:hover{background-position:10px 0px;padding-left:45px;}

@font-face{
	font-family: myriad;
    src: url(../images/myriad.ttf);
}

@font-face{
	font-family: kozgopro-light;
    src: url(../images/kozgopro-light.otf);
}

