@import url('default.css');
#leftcol  { float: left; padding: 0px 30px; width: 650px; voice-family: "\"}\""; voice-family: inherit; width: 590px; min-height: 400px; }
#rightcol { float: right; padding: 0px 20px; width: 309px; voice-family: "\"}\""; voice-family: inherit; width: 269px; min-height: 400px; }

#useful-info { padding-top: 35px; }
#useful-info h1 { height: 30px; background: url(../images/useful-info.png) no-repeat; text-indent: -9999999px; }
