<html>
<head>
	<meta http-equiv="Cache-Control" content="max-age=60"/>
</head>
<body>
	<form method="post" name="frmNewSalesman" id="frmAdd">
	<table cellpadding="3" cellspacing="0" width="100%">
		<tr>
			<td>Ad Name</td>
			<td><input type="text" name="adname" id="adname" size="30" autocomplete="off" ></td>
		</tr>
		<tr>
			<td>Ad Position</td>
			<td>
				<select name="adposition" id="adposition">
					<option value="0"> -- please choose --</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Body Text</td>
			<td><textarea name="bodyText" id="bodyText" rows="5" cols="30"></textarea></td>
		</tr>
		<tr>
			<td>Duration</td>
			<td><input type="text" name="duration" id="duration" size="5" autocomplete="off" value="30"> (in seconds)</td>
		</tr>
		<tr>
			<td></td>
			<td><input type="checkbox" name="enabled" value="1">Enabled</td>
		</tr>
	</table>

	<p align="right">
		<input type="submit" name="btnSubmit" class="button" value="Browse" >
		
		<p align="right"><div id="btnUpload">upload</div></p>
	</p>
	</form>
</body>
</html>