 <div id="contactus-page">   
    <!-- left column -->

    <div id="leftcol">

        <div id="contact-form">
            <h1><span class="white">Contact</span> <span class="orange">Us</span></h1>
           <?php widget('contactUs');?>     

        </div>

    </div>

    <!-- /left column -->

    <!-- right column -->

    <div id="rightcol">

        <div id="call-visit">

            <h1>Call or Visit us</h1>

            <dl>

                <dt>OAHU Address:</dt>

                <dd>94-235 Hanawai Circle, Suite 8</dd>

                <dd> Waipahu, HI 96797</dd>

                <dt>MAUI Address:</dt>

                <dd>inside TJ's Oriental Food Mart</dd>

    <dd>65 W. Kaahumanu Avenue Unit 3 </dd>
    
    <dd>(Kahului Shopping Center) Kahului, Maui  96732 </dd> 



                <dt>Telephone No:</dt>

                <dd>808-699-4329</dd>

              

                <!--  <dt>Fax:</dt>

                <dd>(800) 395-1658</dd> -->

                <dt>Philippines:</dt>

                <dd>818-357-2346</dd>
                <dd>818-237-5264</dd>
    
                <dt>PH Mobile Number:</dt>
                <dd>09258770909</dd>


                <dt>Email:</dt>

                <dd>millenniumexpress@gmail.com</dd>

            </dl>

        </div>

    </div>

    <!-- /right column -->
</div>
<div class="clear">&nbsp;</div>