    <!-- left column -->
    <div id="onecol">
    	<h1><span class="white">Tracking</span> <span class="orange">Your Packages</span></h1>
    	<?php widget('tracking');?>     
    </div>  
    <!-- /left column -->