#logo {background:url('../images/logo-admin.png') no-repeat; height:45px; width:400px;}
#side-menu-min{display:none;}

@media(min-width:768px){
    #logo  {width:400px;}
    #side-menu-min {
            position:absolute;
            margin:10px 0px 0px 250px;
            display:block;padding:0px;
            height:50px;width:20px;
            border-radius:0px 5px 5px 0px;
            }
    #side-menu-min {padding:0px;border-left:0px;}
    #side-menu-min i{margin-top:10px;padding:0px;width:12px;}
    
    .page-hide{margin-left:0px !important;padding-left:30px !important;}
    .hide-side{display:none;}
    .handler-hidden{margin-left:0px !important;}
}

/*autocomplete */

.dropList{position:absolute;margin-top:0px;width:340px;border:1px #000000 solid;padding:0px;background:#FFFFFF;}
.dropList ul {margin:0px;padding:0px;clear:both;}
.dropList ul li{margin:0px;list-style:none;}
.dropList ul li a{font-size:15px;width:320px;border:1px #000000 solid;display:block;padding:10px;}
.dropList ul li a:hover {background:yellow;}
.dropList ul li.selected{background:yellow;}


.ui-front {z-index:1000 !important;}
.ui-dialog-titlebar-close {display:none;}
.ui-dialog-titlebar {display:none;}