#user_div label{clear:left;float:left;width:100px;margin-bottom:5px;font-size:12px;font-weight:bold;}
#user_div input[type="text"], textarea, select {clear:both;float:left;height:15px;margin-bottom:5px;padding:5px;font-size:12px;clear:right;}
#user_div  select{height:25px;padding:0px;}
#user_div  textarea {height:20px;width:345px;height:100px;}

.clear{clear:both;}
