/*-------------- new css designs --------------------- */
#cpanel{
	padding:20px;
    clear:both;
}
#cpanel div.icon {
	text-align: center;
	margin-right: 5px;
	float: left;
	
}

#cpanel div.icon a {
	display: block;
	float: left;
	border: 1px solid #f0f0f0;
	height: 97px;
	width: 108px;
	color: #666;
	vertical-align: middle;
	text-decoration: none;
	padding:5px;
}

#cpanel div.icon a:hover {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #f9f9f9;
	color: #0B55C4;
}

#cpanel img  { padding: 10px 0; margin: 0 auto;vertical-align:bottom; }
#cpanel span { display: block; text-align: center; }
#accordion h3{padding-left:15px;}
