@import url('default.css');
#leftcol  { float: left; padding: 0px 30px; width: 650px; voice-family: "\"}\""; voice-family: inherit; width: 590px; min-height: 400px; }
#rightcol { float: right; padding: 0px 20px; width: 309px; voice-family: "\"}\""; voice-family: inherit; width: 269px; min-height: 400px; }

#contact-form { padding-top: 35px; }
#contact-form h1 { height: 30px; background: url(../images/contact-us.png) no-repeat; text-indent: -9999999px; }
#contact-form table { padding-top: 20px; border: none; }
#contact-form table th { text-align: right; }
#contact-form table th, contact-form table td { padding: 2px 5px 2px 5px; }

#call-visit { padding-top: 35px; }
#call-visit h1 { height: 30px; background: url(../images/call-visit.png) no-repeat; text-indent: -9999999px; }
#call-visit dt { padding-top: 10px; font-weight: bold; }
#call-visit dd { margin-left: 10px; color: #ffe064; }

a:link{color:#ffe064;text-decoration:none;}
a:hover{color:#ffe064;text-decoration:underline;}
a:visited{color:#ffe064;}
