@import url('default.css');
#leftcol { float: left; padding: 0px 30px; width: 650px; voice-family: "\"}\""; voice-family: inherit; width: 590px; }
#rightcol { float: right; padding: 0px 20px; width: 309px; voice-family: "\"}\""; voice-family: inherit; width: 269px;_padding: 0px 0px;}

#welcome { padding-top: 35px; }
#welcome h1 { height: 30px; background: url(../images/welcome.png) no-repeat; text-indent: -9999999px; }
#welcome p { padding: 20px 10px 30px; background: url(../images/line-00.gif) left bottom repeat-x; }

#advantage {padding: 5px 10px 20px 0px; float: left; width: 295px; voice-family: "\"}\""; voice-family: inherit; width: 280px; text-align: justify; }
#advantage h1 { height: 30px; background: url(../images/our-advantage.png) no-repeat; text-indent: -9999999px; }
#advantage p { padding: 10px; }

#destinantion {padding: 5px 0px; float: left; width: 295px; voice-family: "\"}\""; voice-family: inherit; width: 280px; }
#destinantion h1 {padding:5px 0px;height: 30px; background: url(../images/our-destinations.png) no-repeat; text-indent: -9999999px; }
#destinantion p { padding: 0px; }

#we-moved {padding: 5px 10px 20px 0px; float: left; clear:left; voice-family: "\"}\""; voice-family: inherit; text-align: justify; }
#we-moved h1 { height: 30px; background: url(../images/we-moved.png) no-repeat; text-indent: -9999999px; }
#we-moved p { padding: 10px; }
#we-moved p a { color:#FFFFFF; font-weight:Bold;}


#rates {padding-top: 20px; clear: both; background: url(../images/line-00.gif) left top repeat-x;}
#rates h1 { height: 30px; background: url(../images/our-affordable-rates.png) no-repeat; text-indent: -9999999px; }
#rates table th { margin: 1px; background: #2c4e7c; }
#rates table td { margin: 1px; background: #365b8d; text-align: center; font-size:14px }
#rates dl dt { font-weight: bold; }
#rates dl dd { color: #ffe064; }
#rates p a { float: right; width: 73px; height: 74px; background: url(../images/btn-moreinfo.png) no-repeat; text-indent: -999999px; }
#rates p { padding: 5px; _padding:0px; }

#loginbox {_margin-top:30px; padding-top: 35px; _padding-top:10px;height: 150px; background: url(../images/bg-login.png) center bottom no-repeat; }
#loginbox fieldset { padding-top: 20px; border: none; }
#loginbox fieldset p { padding: 5px 5px 2px 20px;}
#loginbox fieldset legend { visibility: hidden; }
/*
#more-savings { padding-top: 20px; padding-bottom: 20px; }
#more-savings h1 { height: 30px; background: url(../images/more-savings.png) no-repeat; text-indent: -9999999px; }
*/
#more-savings { padding: 0px 5px 20px 0px; }
#more-savings h1 { height: 30px; background: url(../images/more-savings.png) no-repeat; text-indent: -9999999px; }
#more-savings ul { list-style-position:inside; }
#more-savings li { padding: 5px 0px 2px 5px; }
#more-savings span.yellow { color: #ffe064;font-size:9px; }

#travel-services { height: 159px; background: url(../images/bg-travel-services.png) center bottom no-repeat; }
#travel-services h1 { height: 30px; background: url(../images/travel-services.png) no-repeat; text-indent: -9999999px; }
#travel-services h3 { padding-left: 85px; }
#travel-services p { padding: 30px 10px 0px 85px; }
#travel-services p.yellow { padding: 0px 10px 0px 85px; color: #ffe064; } 

#pickup-schedule h1 { height: 30px; background: url(../images/pick-up-schedule.png) no-repeat; text-indent: -9999999px; }
#pickup-schedule p { padding: 20px 60px 0px 25px; height: 135px; background: url(../images/bg-pickup-schedule.png) no-repeat; text-align: left-justify; }
#pickup-schedule div {position:relative;height: 125px;width:80px;float:right; background: url(../images/box_guy.png) no-repeat; text-align: left-justify;margin-top:-140px; }

#government-services h1 { height: 30px; background: url(../images/government-services.png) no-repeat; text-indent: -9999999px; }
#government-services div { padding: 15px 20px 0px; height: 160px; background: url(../images/bg-pickup-schedule.png) no-repeat; text-align: left-justify; }
#government-services a {color:#FFFFFF;text-decoration:underline;}
#government-services a:hover {color:#FFFFFF;text-decoration:underline;}
#government-services div ul li {list-style:none;margin-top:10px;}
#government-services div ul {margin:0px;}

#loading-schedule { padding-top: 20px; }
#loading-schedule h1 { height: 30px; background: url(../images/loading-schedule.png) no-repeat; text-indent: -9999999px; }
#loading-schedule div{ padding: 10px 20px 0px; height: 143px; background: url(../images/bg-pickup-schedule.png) no-repeat; text-align: center; }
#loading-schedule div table th{border-bottom:1px #FFFFFF solid;}
#loading-schedule div table td{text-align:left;padding-left:10px;}

.connect_widget{font-color:#FFFFFF !important;}