@import url('default.css');
#leftcol  { float: left; padding: 0px 30px; width: 650px; voice-family: "\"}\""; voice-family: inherit; width: 590px; min-height: 400px; }
#rightcol { float: right; padding: 0px 20px; width: 309px; voice-family: "\"}\""; voice-family: inherit; width: 269px; min-height: 400px; }

#media { padding-top: 35px; padding-bottom: 20px; }
#media h1 { height: 30px; background: url(../images/lbl-media_center.png) no-repeat; text-indent: -9999999px; }

#media span.yellow { color: #ffe064; }

#download{ padding-top: 35px; padding-bottom: 20px; }
#download h1 { height: 30px; background: url(../images/lbl-download.png) no-repeat; text-indent: -9999999px; }
#download li { padding: 2px 0px 2px 0px; }
#download li a {color:#ffe064;text-decoration:none;}
#download li a:visited {color:#ffe064;text-decoration:none;}
#download li a:hover {text-decoration:underline;}
