@import url('default.css');

#content { background: none; }



#onecol  { padding: 35px 30px 0px; width: 960px; voice-family: "\"}\""; voice-family: inherit; width: 900px; min-height: 400px; }

#onecol h1 { height: 30px; background: url(../images/tracking-packages.png) no-repeat; text-indent: -9999999px; }



#photo { float: left; padding: 20px 0px 0px 0px; width: 360px; display:block;}

#photo img { display: block; padding: 18px 20px 20px 20px; background: url(../images/bg-photo.png) no-repeat; }

#photo a { display: block; margin: 0px auto; width: 88px; height: 30px; background: url(../images/btn-print-picture.png) no-repeat; text-indent: -999999999px; }

#photo p{padding:0px 0px 0px 20px;font-size:12px;}



#status { float: left; padding: 27px 10px 0px; width: 540px; voice-family: "\"}\""; voice-family: inherit; width: 500px; }



#status h4 { padding: 8px 0px 0px 10px; height: 35px; font-size: 14px; font-weight: normal; background: url(../images/bg-tracking-number.png) repeat-x; voice-family: "\"}\""; voice-family: inherit; height: 27px; }

#status h4 span.yellow { color: #ffe064; }

#status ul li { padding: 5px; margin-bottom: 1px; font-weight: bold; background: url(../images/bg-track-list.png); list-style: none;min-height:35px;}

#status ul li em { font-weight: normal; color: #8dafdc; }

#disclaimer{font-size:9px;text-align:center;padding:30px;clear:both;}

.yellow{ color: #ffe064; }



/*slider*/

#photo ul li{padding:0px;margin:0px;list-style:none;}

#photo li{ 

		/* 

			define width and height of list item (slide)

			entire slider area will adjust according to the parameters provided here

		*/ 

		width:360px;

		height:400px;

		overflow:hidden; 

		}	

/* numeric controls */	

	#controls{
		display:block;
		position:absolute;
		top:710px;
		z-index:3;
		float:left;
		margin-left:20px !important;
	}

	ol#controls{

		margin:1em 0;

		padding:0;

		height:28px;	

		}

	ol#controls li{

		margin:0 10px 0 0; 

		padding:0;

		float:left;

		list-style:none;

		height:28px;

		line-height:28px;

		}

	ol#controls li a{

		float:left;

		height:28px;

		line-height:28px;

		border:1px solid #ccc;

		background:#DAF3F8;

		color:#555;

		padding:0 10px;

		text-decoration:none;

		}

	ol#controls li.current a{

		background:#5DC9E1;

		color:#fff;

		}

	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}